#border{
    background-color: red ;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;

}

button{
    border: 0;
    padding: 20px;
    border-radius: 20px;
    background-color: darkblue;
    color: white;
    margin-top: 20px;
}